body {
    color: rgb(255, 255, 255);
    background: black;
    margin: 10px;
}

header {
    border: solid 2px rgb(226, 73, 73);
    padding: 20px;
    font-size: 32px;
    color: white;
}

section {
    background: rgb(0, 32, 73);
    padding-bottom: 80px;
    padding-top: 80 px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}