body {
    color: rgb(255, 255, 255);
    background: black;
    margin: 0px;
}

header {
    border: solid 2x rgb(196, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: white;
}

section {
    background: black;
    padding-bottom: 80px;
    padding-top: 80 px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}